[Unit]
Description=Check daily whether DNF updates require a reboot

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true

[Install]
WantedBy=timers.target
